body {color:#000;background:#FFF;}
body,div,ul,ol,li,h1,h2,h3,h4,h5,h6,form,input,p{margin:0;padding:0;}
img{border:0;}
em,strong{font-style:normal;font-weight:normal;}
li {list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
input {font-family:inherit;font-size:inherit;font-weight:inherit;}
body {font:13px/1.22 arial,helvetica,clean,sans-serif;}
body {overflow-x:hidden;-webkit-user-select:none;-webkit-text-size-adjust:none;}
#hd {position:relative;height:45px;background:#6a3970;border-bottom:1px solid #4c334f;}
#hd label {color:#fff;font-size:18px;font-weight:bold;text-shadow:rgba(0, 0, 0, 0.4) 0px -1px 0;position:absolute;margin-top:12px; margin-left:8px;}
#queryField {position:absolute;left:80px; right:55px; top:8px; bottom:8px;padding:5px;}
#submitBtn {display:block;position:absolute;top:8px; right:5px;width:45px; height:30px;background:url(button.png) no-repeat;}
#bd {position:absolute;top:46px; left:0;width:100%; min-height:372px;}
#bd li {border-bottom:1px solid #aaa;padding:4px;}
#bd li:hover {background:#f7edf5;}
#bd li a {color:#000;text-decoration:none;}
#bd li a h3 {font-size:14px;font-weight:bold;width:100%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
#bd li a p {font-size:11px;width:100%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;color:#756951;}
#bd li.last-child {border:none;}
#bd li.last-child #getmore {display:block;text-decoration:none;color:#64a8f7;font-size:14px;font-weight:bold;margin:2px;}
#bd li.last-child:hover {background:#fff;}
.loading {background:url(loading.gif) no-repeat;padding-left:22px;font-size:14px;font-weight:bold;color:#000;margin:2px;}
#bd > .loading {margin:10px;}
.error {margin:10px;}